.signin{
    min-height: 93vh;
    padding: 1.2rem 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#signinbox form{
    width: 100%;
}

#signinbox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42%;
    margin: auto;
    border: 2px solid rgb(37, 196, 37);
    border-radius: 15px;
    padding: 1rem 3.5rem;
    position: relative;
    left: 22%;
}

#signinbox h1{
    text-align: center;
    font-size: 1.9rem;
    /* margin: 5px 0px; */
}

.item{
    /* border: 1px solid black; */
    padding-top: 10px;
    margin: 6px 0x;
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.item label, .item input{
    display: block;
    font-size: 1.2rem;
}
.item label{
    margin: 3px 0px;
    padding-left: 12px;
}

.item input{
    border: 1px solid red;
    color: white;
    border-radius: 12px;
    padding: 14px 10px;
    margin: 3px 0px;
    width: 100%;
    background-color: transparent;
    outline: none;
}

.nameBox{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.nameBox > div{
    width: 48% !important;
}

.formBtn{
    display: block;
    background-color: rgb(26, 156, 26);
    color: white;
    border: 1px solid white;
    padding: 7px 10px;
    border-radius: 5px;
    margin: 8px auto;
    margin-bottom: 0px;
}
.formBtn:hover{
    background-color: rgb(26, 156, 26);
}