.main{
    width: 100%;
    margin-top: 0px;
    min-height: 93vh;
    padding-top: 33px;
    padding-bottom: 10px;
}
#textForm{
    display: block;
    width: 65%;
    margin: auto;
    /* color: white; */
}
#displayWordBox{
    position: relative;
    width: 89%;
    border: 2px solid red;
    border-radius: 7px;
    padding: 9px 7px;
    font-size: 20px;
    margin: 8px 1px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 5;
}

#Text_box{
    /* display: block; */
    font-size: 25px;
    height: 100px;
    background-color: rgb(255, 247, 247);
    border-radius: 5px;
    font-family:  sans-serif;
    padding: 5px;
    border: 1px solid red;
    width: 90%;
    /* height: 40%;
    display: block; */
    outline: none;
}
.btn{
    font-size: 13px;
    padding: 8px 18px;
    color: white;
    background-color: blue;
    border: 2px solid rgb(157, 255, 0);
    border-radius: 5px;
    margin: 4px 2px;
    cursor: pointer;
}
.btn:active{
    background-color: red;
}
.btn:disabled{
    border-color: black;
    background-color: rgb(161, 161, 233);
    cursor: not-allowed;
}
#summary{
    font-family:  Courier, monospace;
    margin-top: 2em;
    /* text-align: center; */
}
#summary>span{
    display: block;
    text-align: center;
    font-size: 1.5em;
}
#summary>p{
    /* padding: 2px 0px 4px 0px; */
    margin: 3px 0px;
    font-size: 1.1em;
    margin-left: 5px;
    /* font-family:  serif; */
}


@media (max-width: 550px) {
    .main{
        padding-top: 22px;
    }
    #textForm>h1, #textForm>h2{
        font-size: 16px;
    }
    .btn{
        font-size: 10px;
        padding: 4px 9px;
    }
}